.navbar {
  height: 60px;
  background: transparent!important;
  font-size: 1.2em;
}

.navbar-brand {
  font-size: 1.5em;
}

.red-words {
  color: rgb(46, 4, 4);
}

.carousel-img {
  width: 50vw;
  height: 55vh;
  margin: auto;
}

.welcome-page {
  // .banner{
    // background-image: url('http://sf.co.ua/14/05/wallpaper-1257559.jpg');
  // }
  
  .carousel-info {
    display: flex;
    flex: 1;
    .how-it-works {
      width: 100%;
      text-align: center;
      background-image: url('https://i.pinimg.com/originals/99/6a/23/996a23011bafdd615b58d4019f2052bb.jpg');

      h1 {
        margin-top: 50%;
        color: #fff
      }
    }
  }
}

#google {
   background-image: url('/auth/btn_google_signin_light_normal_web.png');
   height: 46px;
   width: 191px;
  }

  #amazon {
   background-image: url('/auth/amazon.png');
   height: 46px;
   width: 176px;
   margin: 10px;
  }

