.carousel-img {
  width: 50vw;
  height: 55vh;
  margin: auto;
}

.navbar {
  height: 50px;
}


#google {
   background-image: url('/auth/btn_google_signin_light_normal_web.png');
   height: 46px;
   width: 191px;
  }

  #amazon {
   background-image: url('/auth/amazon.png');
   height: 46px;
   width: 176px;
   margin: 10px;
  }

