.auth-form {
  margin-top: 10em!important;
  background-color: #fff;
  border-radius: 5em 5% 35em 5em;
  padding: 5vw;
  width: 100%;
}

.motto {
  background-color: rgb(52, 3, 61);
  text-align: center;
  color: rgb(255, 255, 255);
  h1 {
    margin: 0;
    padding: 0.3em;
  }
}

.page-content {
  margin: 8em;
  background: #fff;
  border-radius: 5em 5% 35em 5em;
}

.navbar {
  height: 60px;
  position: fixed;
  width: 100%;
  background: transparent!important;
  font-size: 1.2em;
  top: 0;
  z-index: 10000;
  transition: 0.5s;
}

.navbar-brand {
  font-size: 1.5em;
}
.nav-scrolled {
  background-color: rgba(52, 3, 61, 0.9)!important;
}

.center{
  text-align: center;
  color : white;
  margin-top : 3%;
  margin-bottom: 2%;
}

.singleItem{
  text-align: center;
  margin-top: 5%;
  p{
    color: white;
    font-size: 2em;
  }
}

.flexContainer{
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
}
.fridge-items{
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
  p{
    color: white;
  }
  img{
  width: 200px;
  height: 200px;
  }
}



.red-words {
  color: rgb(175, 8, 8);
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.carousel-container {
  width: 50vw;
}

.carousel-img {
  width: 50vw;
  height: 60vh;
}

.welcome-page {
  height: 100%;
  .banner{
    height: 50vh;
  }
  
  .carousel-info {
    display: flex;
    max-height: 60vh;
    flex: 1;
    .how-it-works {
      display: flex;
      width: 100%;
      height: 60vh;
      text-align: center;
      background-image: url('https://i.pinimg.com/originals/99/6a/23/996a23011bafdd615b58d4019f2052bb.jpg');
      justify-content: center;
      align-items: center;

      .description-head {
        color: rgb(133, 44, 44);
        text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
      }

      .descriptions {
        display: flex;
        * {
          color: #fff;
          padding: 2em;
        }
      }

    }
  }
}

#google {
  background-image: url('/auth/btn_google_signin_light_normal_web.png');
  height: 46px;
  width: 191px;
}

#amazon {
  background-image: url('/auth/amazon.png');
  height: 46px;
  width: 176px;
  margin: 10px;
}

.addItemForm {
  text-align: center;
  margin-top: 30%;
}

.savedRecipes {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width:500em;
  height:500em;
}