@import url('https://fonts.googleapis.com/css?family=Muli');
@import './style.scss';
@import './content.scss';
* {
  font-family: 'Muli', sans-serif!important;
}

body {
  margin: 0;
  background: url('/imgs/more-food-min.jpg') no-repeat fixed;
  background-size: cover;
  
  a {
    text-decoration: none;
    color: rgba(130,30,100,1);
  }

  a:hover {
    text-decoration: none;
    color: rgba(15,180,231,1);
  }

  button {
    cursor:pointer;
  }

  button:disabled {
    cursor:no-drop;
  }

  label {
    display: block;
  }

   nav a {
    display: inline-block;
    margin: 1em;
  }

}

body.fridge {
  background: url('/imgs/fridge-bg-min.jpeg') no-repeat fixed;
  background-size: cover;
}




