@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
  font-family: 'Quicksand', sans-serif!important;
}
body {
  margin: 0;
  background-image: url('http://sf.co.ua/14/05/wallpaper-1257559.jpg');

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

}


