@import url('https://fonts.googleapis.com/css?family=Muli');
@import './style.scss';
@import './content.scss';
* {
  font-family: 'Muli', sans-serif!important;
}

body {
  margin: 0;
  background: url('http://sf.co.ua/14/05/wallpaper-1257559.jpg') no-repeat fixed;
  
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: grey;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

}


